.navbar{
    height: 80px;
    margin-bottom: 3rem;
    padding: 1rem;
    .user__info{
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .icon {
            padding-right: 1rem;
        }
        .user__avatar{
            height: 30px;
            width: 30px;
            img{
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }
        .username{
            color: #707070;
            font-size: 14px;
            padding: 0 1rem 0 .5rem;
        }
    }
}