.sidebar__lists {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.body__wrapper {
  width: 90%;
  margin: 0 auto;
  padding: 1.5rem;
  background: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  text-decoration: none;
  line-height: 1.2;
  font-family: sans-serif;
}

body {
  min-height: 100%;
  background: #E3EAEF;
}

.body__wrapper {
  margin: 3rem auto;
  display: flex;
  justify-content: space-between;
}

.layout {
  height: auto;
}

select {
  width: 100%;
  background: transparent;
  border: none;
  font-size: 17px;
  /* for Firefox */
  -moz-appearance: none;
  /* for Safari, Chrome, Opera */
  -webkit-appearance: none;
  cursor: pointer;
  background: #E3EAEE;
  padding: 1rem;
  color: #67748E;
  font-weight: 600;
}

select::-ms-expand {
  display: none;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.navbar {
  height: 80px;
  margin-bottom: 3rem;
  padding: 1rem;
}
.navbar .user__info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.navbar .user__info .icon {
  padding-right: 1rem;
}
.navbar .user__info .user__avatar {
  height: 30px;
  width: 30px;
}
.navbar .user__info .user__avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.navbar .user__info .username {
  color: #707070;
  font-size: 14px;
  padding: 0 1rem 0 0.5rem;
}

.add__customer {
  width: 90%;
  margin: 0 auto;
  padding: 1.5rem;
  background: #fff;
}
.add__customer p {
  font-size: 1.3rem;
  color: #474747;
  font-weight: 600;
}

.sidebar {
  height: auto;
  background: yellow;
  margin-right: 2rem;
}
.sidebar__lists {
  flex-direction: column;
}
.sidebar__lists .sidebar__list {
  padding: 2rem;
  color: #ccc;
  font-weight: 600;
  transition: 0.3s ease-in;
}
.sidebar__lists .sidebar__list:hover {
  background: #02C0CE;
  color: #fff;
}

.form {
  height: auto;
  padding: 0 3rem 3rem 3rem;
  flex: 1;
  margin-left: 1rem;
}
.form label {
  color: #32325D;
  font-weight: 600;
  font-weight: 14px;
  display: inline-block;
  padding-bottom: 1rem;
}
.form input {
  width: 100%;
  padding: 1rem;
  font-size: 1.1rem;
  border-radius: 5px;
  border: none;
  background: #E9ECEF;
}
.form input:placeholder-shown {
  color: #67748E;
}
.form input::placeholder {
  color: #67748E;
}
.form input::-moz-placeholder {
  color: #67748E;
}
.form input::-ms-input-placeholder {
  color: #67748E;
}
.form input::-webkit-input-placeholder {
  color: #67748E;
}
.form .disease__input {
  padding-bottom: 2rem;
}
.form .status {
  padding-bottom: 2rem;
}
.form .status select {
  display: block;
  width: 40%;
  background: transparent;
  border: 1px solid #888;
  padding: 0.5rem;
  border-radius: 5px;
  color: #000;
}
.form .diagnosis {
  padding-bottom: 2rem;
}
.form .diagnosis input {
  display: block;
}
.form .medication {
  padding-bottom: 2rem;
}
.form .diagnosis__type {
  padding-bottom: 2rem;
}
.form .test {
  display: flex;
  justify-content: space-between;
  padding-bottom: 4rem;
  border-bottom: 2px solid;
  margin-bottom: 3rem;
}
.form .test .blood__test {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.form .test .prove {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.form .test .prove input {
  display: none;
}
.form .test .prove label:nth-child(2) {
  color: red;
  border: 5px dotted #ccc;
  padding: 5rem;
}
.form .deficiencies {
  margin-bottom: 3rem;
}
.form .btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.form .btns button {
  display: block;
  border: none;
  border-radius: 2px;
}
.form .btns .previous button {
  padding: 0.7rem 2rem;
  background: #F7FAFC;
  box-shadow: 1px 0px 10px rgba(51, 51, 51, 0.329);
  font-weight: 600;
  font-size: 1rem;
  margin-right: 1rem;
  color: #333;
}
.form .save button {
  padding: 1rem;
  background: #02C0CE;
  box-shadow: 1px 0px 10px rgba(51, 51, 51, 0.308);
  font-weight: 600;
  font-size: 1rem;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
